@charset "utf-8";
/* CSS Document */

/* Kishore */
.art_100prc{width:100% !important;}
.at_width_20{width:20% !important;}
.at_width_30{width:30% !important;}
.at_bold{font-weight: bold;}
.tm_margin_0{margin: 0px !important;}